<!DOCTYPE html>
<html lang="en">

<head>
    <!-- META DEFAULT  -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- TITLE  -->
    <title>Chroma book-consultation | "Landing-page for interior studio"</title>
    <!-- FAV  -->
    <link rel="shorcut icon" href="template-fav-icons/chroma2.png" type="image/x-icon">
    <!-- GOOGLE FONT  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
    <!-- Jarallax CSS CDN -->
    <link href="https://cdn.jsdelivr.net/npm/jarallax@2/dist/jarallax.min.css" rel="stylesheet" />
    <!-- SWIPER JS CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <!-- STYLE CSS  -->
    <link rel="stylesheet" href="css/style.css">
    <!-- ROOT CSS  -->
    <link rel="stylesheet" href="css/root.css">
    <!-- RESPONSIVE CSS  -->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- PreLoader CSS  -->
    <link rel="stylesheet" href="css/preloader.css">
    <!-- Swiper CSS  -->
    <link rel="stylesheet" href="css/swiper.css">
    <!-- Navigation CSS  -->
    <link rel="stylesheet" href="css/navigation.css">
    <!-- Back to Top btn CSS  -->
    <link rel="stylesheet" href="css/top-button.css">
</head>

<body id="body">

    <!-- _______ For Load Heavy on Website to show preloader ___________ -->
    <div class="display-none" style="display: none;">
        <iframe src="https://www.youtube.com/embed/eXRttuGE1ZY?si=XQ9JSgqo7SIOAJ_g&amp;controls=0">
        </iframe>
        <iframe src="https://www.youtube.com/embed/eXRttuGE1ZY?si=XQ9JSgqo7SIOAJ_g&amp;controls=0">
        </iframe>
        <iframe src="https://www.youtube.com/embed/eXRttuGE1ZY?si=XQ9JSgqo7SIOAJ_g&amp;controls=0">
        </iframe>
    </div>

    <!-- ________ PreLoader ______________________________ -->
    <div class="preloader" id="preloader">
        <div class="preloader-content">
            <div class="preloader-outter">
                <!-- <img src="preload/preloader.gif" alt=""> -->
                <img src="preload/loading-gif-icon-14.jpg" alt="">
            </div>
        </div>
    </div>

    <!-- ________ NAV TOGGLER ______________________________ -->
    <div class="nav-toggler" onclick="show_nav()">
        <div class="nav-toggler-content">
            <div class="toggler-line1 toggler-line"></div>
            <div class="toggler-line2 toggler-line"></div>
            <div class="toggler-line3 toggler-line"></div>
        </div>
    </div>
    <!-- __________________________________________________________ -->

    <!-- ________ NAVIGATION ______________________________ -->
    <div class="mobile-navigation-wrap">
        <div class="mobile-navigation">
            <div class="mobile-navigation-close-btn">
                <i class="fa-solid fa-xmark mobile-navigation-close-btn-i" onclick="hide_nav()"></i>
            </div>
            <div class="mobile-navigation-inner">
                <ul class="mobile-navigation-ul">
                    <li>
                        <a href="#about" class="navigation-ancor-mobile" onclick="hide_nav()">
                            <div class="navigation-ancor-anim-mobile"></div>
                            about
                        </a>
                    </li>
                    <li>
                        <a href="#services" class="navigation-ancor-mobile" onclick="hide_nav()">
                            <div class="navigation-ancor-anim-mobile"></div>
                            services
                        </a>
                    </li>
                    <li>
                        <a href="#portfolio" class="navigation-ancor-mobile" onclick="hide_nav()">
                            <div class="navigation-ancor-anim-mobile"></div>
                            portfolio
                        </a>
                    </li>
                    <li>
                        <a href="#chroma_consultation" class="navigation-ancor-mobile" onclick="hide_nav()">
                            <div class="navigation-ancor-anim-mobile"></div>
                            consultation
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/tx_haseeb_07/" target="_blank" class="navigation-ancor-mobile" onclick="hide_nav()">
                            <div class="navigation-ancor-anim-mobile"></div>
                            instagram
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <!-- __________________________________________________________ -->

    <!-- ________ Back To Top Button ______________________________ -->
    <div class="back-to-top">
        <a href="#body">
            <i class="fa-solid fa-angle-up"></i>
        </a>
    </div>
    <!-- __________________________________________________________ -->

    <header>
        <div class="jarallax background">
            <img class="jarallax-img" src="images/hero-img-02.jpeg">

            <!-- _________ HEADER SECTION _____________________________ -->
            <div class="header">
                <!-- nav  -->
                <nav class="header-nav">
                    <!-- logo  -->
                    <div class="logo">
                        <a href="index.html">
                            <img src="images/logo.jpeg">
                        </a>
                    </div>
                    <!-- navigations  -->
                    <div class="portrait-navigations">
                        <ul>
                            <li>
                                <a href="#about" class="navigation-ancor">
                                    <div class="navigation-ancor-anim"></div>
                                    about
                                </a>
                            </li>
                            <li>
                                <a href="#services" class="navigation-ancor">
                                    <div class="navigation-ancor-anim"></div>
                                    services
                                </a>
                            </li>
                            <li>
                                <a href="#portfolio" class="navigation-ancor">
                                    <div class="navigation-ancor-anim"></div>
                                    portfolio
                                </a>
                            </li>
                            <li>
                                <a href="#chroma_consultation" class="navigation-ancor">
                                    <div class="navigation-ancor-anim"></div>
                                    consultation
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/tx_haseeb_07/" target="_blank" class="navigation-ancor">
                                    <div class="navigation-ancor-anim"></div>
                                    instagram
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>

            <!-- __________ HERO SECTION _________________________________ -->

            <div class="hero">
                <div class="hero-content">
                    <div class="hero-container">
                        <h3>
                            chroma book consultation <br> landing page for interior studio.
                        </h3>
                        <p class="para">
                            Lorem ipsum dolor sit amet consectetur adipisicing <br>elit. facere hic elit facere hic
                        </p>
                        <div class="btn hero-content-btn">
                            <a href="#helvetica">read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- __________ CHROMA SECTION _________________________________ -->

    <div class="chroma-section" id="chroma_consultation">
        <div class="container">
            <div class="chroma-inner-img">
                <img src="images/chroma-text-short.jpeg">
                <div class="chroma-img-content">
                    <header>
                        <nav class="chroma-navigation">
                            <ul>
                                <li>
                                    <a href="https://dribbble.com/tx_haseeb_07" target="_blank">
                                        <i class="fa-solid fa-basketball chroma-db chroma-icons"></i>
                                        <p>dribble</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.behance.net/tx_haseeb_07" target="_blank">
                                        <i class="fa-brands fa-behance chroma-be chroma-icons"></i>
                                        <p>behance</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#portfolio">
                                        <i class="fa-regular fa-square chroma-sqr chroma-icons"></i>
                                        <p>portfolio</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com/ha9some/?show_switched_toast=0&show_invite_to_follow=0&show_switched_tooltip=0&show_podcast_settings=0&show_community_review_changes=0&show_community_rollback=0&show_follower_visibility_disclosure=0" target="_blank">
                                        <i class="fa-brands fa-facebook chroma-fb chroma-icons"></i>
                                        <p>facebook</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/tx_haseeb_07/" target="_blank">
                                        <i class="fa-brands fa-instagram chroma-ig chroma-icons"></i>
                                        <p>instagram</p>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </header>
                    <div class="choroma-text-section">
                        <div class="chroma-text-box1 chroma-text-box">
                            <p class="chroma-para">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, deserunt voluptate. Aliquid magnam maiores labore quis odit quod veniam doloremque totam modi dolores? Totam repellat culpa maiores modi quam? Enim!
                            </p>
                        </div>
                        <div class="chroma-text-box2 chroma-text-box">
                            <p class="chroma-para">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, deserunt voluptate. Aliquid magnam maiores labore quis odit quod veniam doloremque totam modi dolores? Totam repellat culpa maiores modi quam? Enim!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- row 2  -->
            <div class="chroma-row-2">
                <p class="para">
                    sorem ipsum solor sit amet consectetur adipisicing elit. Aperiam culpa id nisi similique dignissimos doloremque hic accusamus voluptatibus unde. A, porro molestias tempore iste quod ex illo labore temporibus libero gorem itsum lor sit amek consectetur
                    adipisicing elit. Aperiam culpa id nisi similique dignissimos doloremque hic accusamus voluptatibus unde. A, porro molestias tempore iste quod ex illo labore temporibus tibero! A, porro molestias tempore iste quod ex illo labore temporibus
                </p>
            </div>
        </div>
    </div>

    <!-- __________ HELVETICA SECTION _________________________________ -->

    <div class="helvetica" id="helvetica">
        <div class="container">
            <div class="helvetica-col-1-wrap">
                <div class="helvetica-col-1">
                    <div class="helvetiva-heading">
                        <h1>helvetica</h1>
                    </div>
                    <div class="helvetica-col-1-content">
                        <img src="images/helvetica-section-img.png">
                        <div class="helvetiva-text">
                            <h4>black &</h4>
                            <p class="para">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore dicta suscipit qui odio nihil. Explicabo odio quam repudiandae unde rerum beatae nulla quos porro quod. Velit optio animi aspernatur fugit.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="helvetica-col-2">
                <p class="para helvetica-col-2-para-1">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam rem ipsum molestias facere asperiores iusto, architecto, assumenda voluptatibus fugit distinctio consequuntur quasi id aut nemo, perferendis itaque beatae tempora impedit voluptatibus fugit
                    distinctio consequuntur quasi id aut nemo, perferendis itaque beatae tempora impedit.
                </p>
                <p class="para helvetica-col-2-para-2">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit molestiae sunt quia temporibus blanditiis maxime, iure nobis accusantium aspernatur atque non tempore!
                </p>
                <h4>& white</h4>
            </div>
        </div>
    </div>


    <!-- __________ ABOUT SECTION _________________________________ -->

    <div class="about" id="about">
        <div class="container">
            <div class="about-grid">
                <div class="about-grid-box about-grid-box1">
                    <h1 class="heading">abou</h1>
                </div>
                <div class="about-grid-box about-grid-box2"></div>
                <div class="about-grid-box about-grid-box3">
                    <p>
                        5 years
                        <br> 200k m2
                    </p>
                </div>
                <div class="about-grid-box about-grid-box4">
                    <p>
                        2000 certified customers 15 expert designers.
                    </p>
                </div>
                <div class="about-grid-box about-grid-box5">
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus molestias accusamus, nemo dolor aspernatur eaque odio dicta sapiente numquam est laboriosam nobis debitis animi modi, id molestiae maxime beatae? Dolorum.
                    </p>
                </div>
                <div class="about-grid-box about-grid-box6">
                    <h1 class="heading">us</h1>
                </div>
            </div>
        </div>
    </div>

    <!-- __________ TEAM SECTION _________________________________ -->

    <div class="team">
        <div class="container">
            <div class="team-heading-sect-grid">
                <div class="team-heading-sect-box team-heading-sect-box1"></div>
                <div class="team-heading-sect-box team-heading-sect-box2">
                    <h1 class="heading">team</h1>
                </div>
                <div class="team-heading-sect-box team-heading-sect-box3"></div>
                <div class="team-heading-sect-box team-heading-sect-box4"></div>
                <div class="team-heading-sect-box team-heading-sect-box5">
                    <h3>
                        julie yanovka.
                    </h3>
                    <p>
                        3 years as a_
                        <br>company manager.
                    </p>
                </div>
                <div class="team-heading-sect-box team-heading-sect-box6">
                    <a href="#team_swiper_section"><i class="fa-solid fa-arrow-down-long fa-bounce"></i></a>
                </div>
            </div>
        </div>
    </div>

    <!-- __________ TEAM swiper SECTION _________________________________ -->

    <!-- team swiper  -->
    <div class="team-swiper-section" id="team_swiper_section">
        <div class="container">
            <!-- Slider main container -->
            <div class="swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <div class="team-member-card">
                            <div class="team-member-img">
                                <img src="images/member7.jpeg">
                            </div>
                            <h3>john wick
                                <br><span>actor</span>
                            </h3>
                            <div class="member-icons">
                                <a href="https://dribbble.com/tx_haseeb_07" target="_blank">
                                    <i class="fa-solid fa-basketball member-icons-i"></i>
                                </a>
                                <a href="https://www.behance.net/tx_haseeb_07" target="_blank">
                                    <i class="fa-brands fa-behance member-icons-i"></i>
                                </a>
                                <a href="https://github.com/newgithubuser709" target="_blank">
                                    <i class="fa-brands fa-github member-icons-i"></i>
                                </a>
                                <a href="https://www.facebook.com/ha9some/?show_switched_toast=0&show_invite_to_follow=0&show_switched_tooltip=0&show_podcast_settings=0&show_community_review_changes=0&show_community_rollback=0&show_follower_visibility_disclosure=0" target="_blank">
                                    <i class="fa-brands fa-facebook member-icons-i"></i>
                                </a>
                                <a href="https://www.instagram.com/tx_haseeb_07/" target="_blank">
                                    <i class="fa-brands fa-instagram member-icons-i"></i>
                                </a>
                            </div>
                            <p class="para">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum possimus, autem qui praesentium debitis.
                            </p>
                        </div>
                    </div>
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <div class="team-member-card">
                            <div class="team-member-img">
                                <img src="images/member2.jpg">
                            </div>
                            <h3>
                                tx haseeb
                                <br><span>website developer</span>
                            </h3>
                            <div class="member-icons">
                                <a href="https://dribbble.com/tx_haseeb_07" target="_blank">
                                    <i class="fa-solid fa-basketball member-icons-i"></i>
                                </a>
                                <a href="https://www.behance.net/tx_haseeb_07" target="_blank">
                                    <i class="fa-brands fa-behance member-icons-i"></i>
                                </a>
                                <a href="https://github.com/newgithubuser709" target="_blank">
                                    <i class="fa-brands fa-github member-icons-i"></i>
                                </a>
                                <a href="https://www.facebook.com/ha9some/?show_switched_toast=0&show_invite_to_follow=0&show_switched_tooltip=0&show_podcast_settings=0&show_community_review_changes=0&show_community_rollback=0&show_follower_visibility_disclosure=0" target="_blank">
                                    <i class="fa-brands fa-facebook member-icons-i"></i>
                                </a>
                                <a href="https://www.instagram.com/tx_haseeb_07/" target="_blank">
                                    <i class="fa-brands fa-instagram member-icons-i"></i>
                                </a>
                            </div>
                            <p class="para">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum possimus, autem qui praesentium debitis.
                            </p>
                        </div>
                    </div>
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <div class="team-member-card">
                            <div class="team-member-img">
                                <img src="images/member3.jpg">
                            </div>
                            <h3>
                                sam
                                <br><span>director</span>
                            </h3>
                            <div class="member-icons">
                                <a href="https://dribbble.com/tx_haseeb_07" target="_blank">
                                    <i class="fa-solid fa-basketball member-icons-i"></i>
                                </a>
                                <a href="https://www.behance.net/tx_haseeb_07" target="_blank">
                                    <i class="fa-brands fa-behance member-icons-i"></i>
                                </a>
                                <a href="https://github.com/newgithubuser709" target="_blank">
                                    <i class="fa-brands fa-github member-icons-i"></i>
                                </a>
                                <a href="https://www.facebook.com/ha9some/?show_switched_toast=0&show_invite_to_follow=0&show_switched_tooltip=0&show_podcast_settings=0&show_community_review_changes=0&show_community_rollback=0&show_follower_visibility_disclosure=0" target="_blank">
                                    <i class="fa-brands fa-facebook member-icons-i"></i>
                                </a>
                                <a href="https://www.instagram.com/tx_haseeb_07/" target="_blank">
                                    <i class="fa-brands fa-instagram member-icons-i"></i>
                                </a>
                            </div>
                            <p class="para">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum possimus, autem qui praesentium debitis.
                            </p>
                        </div>
                    </div>
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <div class="team-member-card">
                            <div class="team-member-img">
                                <img src="images/member5.jpg">
                            </div>
                            <h3>
                                zina
                                <br><span>photographer</span>
                            </h3>
                            <div class="member-icons">
                                <a href="https://dribbble.com/tx_haseeb_07" target="_blank">
                                    <i class="fa-solid fa-basketball member-icons-i"></i>
                                </a>
                                <a href="https://www.behance.net/tx_haseeb_07" target="_blank">
                                    <i class="fa-brands fa-behance member-icons-i"></i>
                                </a>
                                <a href="https://github.com/newgithubuser709" target="_blank">
                                    <i class="fa-brands fa-github member-icons-i"></i>
                                </a>
                                <a href="https://www.facebook.com/ha9some/?show_switched_toast=0&show_invite_to_follow=0&show_switched_tooltip=0&show_podcast_settings=0&show_community_review_changes=0&show_community_rollback=0&show_follower_visibility_disclosure=0" target="_blank">
                                    <i class="fa-brands fa-facebook member-icons-i"></i>
                                </a>
                                <a href="https://www.instagram.com/tx_haseeb_07/" target="_blank">
                                    <i class="fa-brands fa-instagram member-icons-i"></i>
                                </a>
                            </div>
                            <p class="para">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum possimus, autem qui praesentium debitis.
                            </p>
                        </div>
                    </div>
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <div class="team-member-card">
                            <div class="team-member-img">
                                <img src="images/member6.avif">
                            </div>
                            <h3>
                                max
                                <br><span>designer</span>
                            </h3>
                            <div class="member-icons">
                                <a href="https://dribbble.com/tx_haseeb_07" target="_blank">
                                    <i class="fa-solid fa-basketball member-icons-i"></i>
                                </a>
                                <a href="https://www.behance.net/tx_haseeb_07" target="_blank">
                                    <i class="fa-brands fa-behance member-icons-i"></i>
                                </a>
                                <a href="https://github.com/newgithubuser709" target="_blank">
                                    <i class="fa-brands fa-github member-icons-i"></i>
                                </a>
                                <a href="https://www.facebook.com/ha9some/?show_switched_toast=0&show_invite_to_follow=0&show_switched_tooltip=0&show_podcast_settings=0&show_community_review_changes=0&show_community_rollback=0&show_follower_visibility_disclosure=0" target="_blank">
                                    <i class="fa-brands fa-facebook member-icons-i"></i>
                                </a>
                                <a href="https://www.instagram.com/tx_haseeb_07/" target="_blank">
                                    <i class="fa-brands fa-instagram member-icons-i"></i>
                                </a>
                            </div>
                            <p class="para">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum possimus, autem qui praesentium debitis.
                            </p>
                        </div>
                    </div>
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <div class="team-member-card">
                            <div class="team-member-img">
                                <img src="images/member1.jpg">
                            </div>
                            <h3>
                                aj tiger
                                <br><span>writer</span>
                            </h3>
                            <div class="member-icons">
                                <a href="https://dribbble.com/tx_haseeb_07" target="_blank">
                                    <i class="fa-solid fa-basketball member-icons-i"></i>
                                </a>
                                <a href="https://www.behance.net/tx_haseeb_07" target="_blank">
                                    <i class="fa-brands fa-behance member-icons-i"></i>
                                </a>
                                <a href="https://github.com/newgithubuser709" target="_blank">
                                    <i class="fa-brands fa-github member-icons-i"></i>
                                </a>
                                <a href="https://www.facebook.com/ha9some/?show_switched_toast=0&show_invite_to_follow=0&show_switched_tooltip=0&show_podcast_settings=0&show_community_review_changes=0&show_community_rollback=0&show_follower_visibility_disclosure=0" target="_blank">
                                    <i class="fa-brands fa-facebook member-icons-i"></i>
                                </a>
                                <a href="https://www.instagram.com/tx_haseeb_07/" target="_blank">
                                    <i class="fa-brands fa-instagram member-icons-i"></i>
                                </a>
                            </div>
                            <p class="para">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum possimus, autem qui praesentium debitis.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>

    <!-- __________ SERVICES SECTION _____________________________________ -->

    <div class="services">
        <div class="container">
            <!-- heading  -->
            <div class="service-heading-wrap">
                <div class="service-heading-content">
                    <div class="service-heading-content-inner" id="services">
                        <h1>
                            services
                        </h1>
                    </div>
                </div>
            </div>
            <!-- content -->
            <div class="service-content-wrap">
                <div class="service-content-wrap-container">
                    <div class="service-content-box service-content-box1">
                        <div class="service-content-box-innerborder-box 
                                    service-content-box-innerborder-box1">
                            <div class="service-content-box-innerborder-box-h3">
                                <h3>concept development</h3>
                            </div>
                            <div class="service-content-box-innerborder-box-detailText-section service-content-box-innerborder-box-detailText-section1">
                                <p class="para">
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis rem officiis itaque aperiam sed impedit maxime consequuntur iusto.
                                </p>
                                <div class="service-dollar-detail">
                                    <p>50 $/M2</p>
                                    <a href="#service_second">detail<span class="service-detail-span">></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="service-content-box service-content-box2">
                        <div class="service-content-box-innerborder-box 
                                    service-content-box-innerborder-box2">
                            <div class="service-content-box-innerborder-box-h3">
                                <h3>accompanimment <br> service</h3>
                            </div>
                            <div class="service-content-box-innerborder-box-detailText-section service-content-box-innerborder-box-detailText-section2">
                                <p class="para">
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis rem officiis itaque aperiam sed impedit maxime consequuntur iusto.
                                </p>
                                <div class="service-dollar-detail">
                                    <p>1000 $/Month</p>
                                    <a href="#service_second">detail<span class="service-detail-span">></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="service-content-box service-content-box3">
                        <div class="service-content-box-innerborder-box 
                                    service-content-box-innerborder-box3">
                            <div class="service-content-box-innerborder-box-h3">
                                <h3>renovation and <br> remodeling</h3>
                            </div>
                            <div class="service-content-box-innerborder-box-detailText-section service-content-box-innerborder-box-detailText-section3">
                                <p class="para">
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis rem officiis itaque aperiam sed impedit maxime consequuntur iusto.
                                </p>
                                <div class="service-dollar-detail">
                                    <p>80 $/M2</p>
                                    <a href="#service_second">detail<span class="service-detail-span">></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="service-content-box service-content-box4">
                        <div class="service-content-box-innerborder-box 
                                    service-content-box-innerborder-box4">
                            <div class="service-content-box-innerborder-box-h3">
                                <h3>book consultation</h3>
                            </div>
                        </div>
                    </div>
                    <!-- ... -->
                </div>
            </div>
        </div>
    </div>

    <!-- _________ SERVICES SECOND SECTION _____________________________ -->

    <div class="services-second" id="service_second">
        <div class="container">
            <div class="service-second-content-wrap">
                <!-- img  -->
                <div class="service-second-content-img">
                    <img src="images/services-second-section-img.jpeg">
                </div>
                <!-- content  -->
                <div class="service-second-content-text">
                    <div class="service-second-content-box">
                        <div class="service-second-content-box-number-list">
                            <p>
                                0
                            </p>
                        </div>
                        <div class="service-second-content-box-number-list-text">
                            <h4>
                                consultation
                            </h4>
                            <p>
                                initial client meeting site assesment needs analysis style exploration
                            </p>
                        </div>
                    </div>
                    <div class="service-second-content-box">
                        <div class="service-second-content-box-number-list">
                            <p class="heading">
                                1
                            </p>
                        </div>
                        <div class="service-second-content-box-number-list-text">
                            <h4>
                                concept dev
                            </h4>
                            <p>
                                mood boards space planning design direction material selection
                            </p>
                        </div>
                    </div>
                    <div class="service-second-content-box">
                        <div class="service-second-content-box-number-list">
                            <p class="heading">
                                2
                            </p>
                        </div>
                        <div class="service-second-content-box-number-list-text">
                            <h4>
                                design dev
                            </h4>
                            <p>
                                refinement of concept detailed space planning selection of furnishings 3D rendering
                            </p>
                        </div>
                    </div>
                    <div class="service-second-content-box">
                        <div class="service-second-content-box-number-list">
                            <p class="heading">
                                3
                            </p>
                        </div>
                        <div class="service-second-content-box-number-list-text">
                            <h4>
                                documentation
                            </h4>
                            <p>
                                technical drawings budget analysis procurement permit and approvals
                            </p>
                        </div>
                    </div>
                    <div class="service-second-content-box">
                        <div class="service-second-content-box-number-list">
                            <p class="heading">
                                4
                            </p>
                        </div>
                        <div class="service-second-content-box-number-list-text">
                            <h4>
                                construction
                            </h4>
                            <p>
                                site visits quality control projects management final inspection
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- __________ PORTFOLIO SECTION _________________________________ -->

    <div class="portfolio" id="portfolio">
        <div class="container">
            <div class="portfolio-img-1">
                <img src="images/book-portfolio-removebg-preview.png">
                <!-- absolute imgs >>> -->
                <a target="_blank" href="https://github.com/newgithubuser709">
                    <img src="images/p-img1.png" class="portfolio-book-absloute-img portfolio-book-absloute-img1">
                </a>
                <a target="_blank" href="https://github.com/newgithubuser709">
                    <img src="images/p-img2.png" class="portfolio-book-absloute-img portfolio-book-absloute-img2">
                </a>
                <a target="_blank" href="https://github.com/newgithubuser709">
                    <img src="images/p-img3.png" class="portfolio-book-absloute-img portfolio-book-absloute-img3">
                </a>
            </div>
            <div class="portfolio-img-2 jarallax">
                <img src="images/hero-img-02.jpeg" class="jarallax-img">
                <div class="portfolio-img2-content-wrap">

                    <p>created templates.</p>
                    <a target="_blank" href="https://newgithubuser709.github.io/Glint-influential-brands-and-digital-experiences./">
                        <img src="template-fav-icons/glint.ico" alt="glint"> Glint-influential-brands <br> -and-digital-experiences.
                    </a>
                    <a target="_blank" href="index.html">
                        <img src="template-fav-icons/chroma2.png" alt="chroma">Chroma_Book_Cunsultation <br> _Landing-Page-for-interior-studio
                    </a>
                    <a target="_blank" href="https://newgithubuser709.github.io/Service-Master-Clean/">
                        <img src="template-fav-icons/service-master-clean.png" alt="comerical-cleaning">service-master-clean
                    </a>
                    <a href="https://newgithubuser709.github.io/Repair-Services/">
                        <img src="template-fav-icons/repair-service.png" alt="repair-service">repair-services_page- <br> template
                    </a>
                    <a target="_blank" href="https://newgithubuser709.github.io/Creative-Studio_small-team-with-big-ideas/">
                        <img src="template-fav-icons/creative-studio.png" alt="creative-studio">creative-studio-small <br> -team-with-big-ideas
                    </a>
                    <a target="_blank" href="https://github.com/newgithubuser709" class="portfolio-github-a">more...</a>

                    <p>portfolio on github.</p>
                    <a target="_blank" href="https://github.com/newgithubuser709">
                        <img src="template-fav-icons/github.png" alt="github"> @newgithubuser709
                    </a>

                    <p>social accounts.</p>
                    <a target="_blank" href="https://www.instagram.com/tx_haseeb_07/">
                        <div class="portfolio-icon-wrap">
                            <i class="fa-brands fa-instagram portfolio-icon-ig portfolio-icon"></i>
                        </div>instagram
                    </a>
                    <a target="_blank" href="https://www.facebook.com/ha9some/?show_switched_toast=0&show_invite_to_follow=0&show_switched_tooltip=0&show_podcast_settings=0&show_community_review_changes=0&show_community_rollback=0&show_follower_visibility_disclosure=0">
                        <div class="portfolio-icon-wrap">
                            <i class="fa-brands fa-facebook-f portfolio-icon-fb portfolio-icon"></i>
                        </div>facebook
                    </a>
                    <a target="_blank" href="https://dribbble.com/tx_haseeb_07">
                        <div class="portfolio-icon-wrap">
                            <i class="fa-solid fa-basketball portfolio-icon-db portfolio-icon"></i>
                        </div>dribble
                    </a>
                    <a target="_blank" href="https://www.behance.net/tx_haseeb_07">
                        <div class="portfolio-icon-wrap">
                            <i class="fa-brands fa-behance portfolio-icon-be portfolio-icon"></i>
                        </div>behance
                    </a>
                    <a target="_blank" href="https://api.whatsapp.com/send/?phone=03414077978&text=Tx+Haseeb+%40&type=phone_number&app_absent=0">
                        <div class="portfolio-icon-wrap">
                            <i class="fa-brands fa-whatsapp portfolio-icon-wa portfolio-icon"></i>
                        </div>whatsapp
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- __________ FEEDBACK SECTION _________________________________ -->

    <div class="feedback">
        <div class="container">
            <div class="feedback-grid">
                <div class="feedback-grid-box feedback-grid-box1">
                    <div class="feedback-grid-box1-text">
                        <h1>
                            feedbac
                        </h1>
                    </div>
                </div>
                <div class="feedback-grid-box feedback-grid-box2">
                    <div class="feedback-grid-box2-inner"></div>
                </div>
                <div class="feedback-grid-box feedback-grid-box3"></div>
                <div class="feedback-grid-box feedback-grid-box4">
                    <div class="feedback-grid-box4-inner-img"></div>
                </div>
                <div class="feedback-grid-box feedback-grid-box5">
                    <p class="para">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum porro quibusdam reprehenderit laudantium accusantium debitis quaerat ipsa non voluptate, assumenda eveniet. Unde saepe aspernatur ad alias veritatis deleniti modi voluptatibus.
                    </p>
                </div>
                <div class="feedback-grid-box feedback-grid-box6">
                    <div class="feedback-grid-box6-inner-img"></div>
                </div>
                <div class="feedback-grid-box feedback-grid-box7">
                    <p>
                        contemporary haven
                    </p>
                    <div class="feedback-grid-box7-inner">
                        <div class="feedback-grid-box7-inner-img"></div>
                    </div>
                </div>
                <div class="feedback-grid-box feedback-grid-box8">
                    <div class="feedback-grid-box8-inner">
                        <p>alie sanchez</p>
                        <img src="images/avatar1.jpg">
                    </div>
                </div>
                <div class="feedback-grid-box feedback-grid-box9">
                    <div class="feedback-grid-box9-inner                  
                                feedback-grid-box9-inner1">
                        <p>2/25</p>
                    </div>
                    <div class="feedback-grid-box9-inner 
                                feedback-grid-box9-inner2">
                        <div class="feedback-slide-btn-wrap">
                            <div class="feedback-slide-prev feedback-slide-btn">
                                <i class="fa-solid fa-arrow-left-long 
                                          feedback-prev-next-i1">
                                </i> prev
                            </div>
                            <div class="feedback-slide-next feedback-slide-btn">
                                next
                                <i class="fa-solid fa-arrow-right-long 
                                          feedback-prev-next-i2">
                                </i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- __________ FOOTER SECTION _________________________________ -->


    <footer>
        <!-- __________ contact SECTION _________________________________ -->
        <div class="contact">
            <div class="contact-heading">
                <h1 class="heading">chroma</h1>
            </div>
            <div class="container">
                <div class="contact-row">
                    <div class="contact-row-box-1">
                        <div class="contact-row-box-1-contact-details">
                            <a href="tel:+923414077978" target="_blank">+923414077978<i class="contatct-detail-i fa-solid fa-arrow-right-long"></i></a><br>
                            <a href="mailto:ha9some709@gmail.com" target="_blank">ha9some709@gmail.com<i class="contatct-detail-i fa-solid fa-arrow-right-long"></i></a>
                            <p>Lahore Punjab | Pakistan, 5400</p>
                        </div>
                        <div class="contact-row-box-1-contact-socials">
                            <a href="https://www.instagram.com/tx_haseeb_07/" target="_blank">instagram<i class="contatct-detail-i fa-solid fa-arrow-right-long"></i></a ><br>
                            <a target="_blank" href="https://www.facebook.com/campaign/landing.php?campaign_id=1653377901&extra_1=s%7Cc%7C358050429110%7Ce%7Cfb%20%27%7C&placement=&creative=358050429110&keyword=fb%20%27&partner_id=googlesem&extra_2=campaignid%3D1653377901%26adgroupid%3D65139789042%26matchtype%3De%26network%3Dg%26source%3Dnotmobile%26search_or_content%3Ds%26device%3Dc%26devicemodel%3D%26adposition%3D%26target%3D%26targetid%3Dkwd-431331344637%26loc_physical_ms%3D1011082%26loc_interest_ms%3D%26feeditemid%3D%26param1%3D%26param2%3D&gclid=CjwKCAjws9ipBhB1EiwAccEi1CrfWyef2svlxfEr-6jufdSg1O7Acxx3syo06qukX19NdRXjIaYm-BoCnVkQAvD_BwE">facebook<i class="contatct-detail-i fa-solid fa-arrow-right-long"></i></a ><br>
                            <a target="_blank" href="https://api.whatsapp.com/send/?phone=03414077978&text=Tx+Haseeb+%40&type=phone_number&app_absent=0" >whatsapp<i class="contatct-detail-i fa-solid fa-arrow-right-long"></i></a><br>
                        </div>
                    </div>
                    <div class="contact-row-box-2">
                        <div class="contact-row-box-2-content">
                            <form action="index.html">
                                <input type="email" name="eml" placeholder="enter email" required>
                                <input type="password" name="pws" placeholder="password" required>
                                <button>
                                       subscribe
                                </button>
                            </form>
                            <p>book consultion</p>
                        </div>
                    </div>
                </div>
                <!-- ________ main footer _____________________________ -->
                <div class="contact-mainFooter">
                    <h1>contact.</h1>
                    <p>copyright @<span id="footer_year"></span><a href="tel:+923414077978" target="_blank">tx_haseeb</a>all right reserved.</p>
                </div>
            </div>
        </div>
    </footer>


    <!--                 ---Secrions Ending Point--- 
    -->
    <!--                 ---Scripts starting Point--- 
    -->


    <!-- ____________________CDNs start___________________________________  -->


    <!--    Font Awesome CDN 
    -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" integrity="sha512-uKQ39gEGiyUJl4AI6L+ekBdGKpGw4xJ55+xyJG7YFlJokPNYegn9KwQ3P8A7aFQAUtUsAQHep+d/lrGqrbPIDQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


    <!--    jQuery CDN 
    -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!--    jQuery Easing CDN
    -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>



    <!--    Smooth Scroll To Element CDN
    -->
    <script src="https://cdn.statically.io/gh/kswedberg/jquery-smooth-scroll/3948290d/jquery.smooth-scroll.min.js"></script>



    <!--    Jarallax JS CDN
    -->
    <script src="https://cdn.jsdelivr.net/npm/jarallax@2/dist/jarallax.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jarallax@2/dist/jarallax-video.min.js"></script>



    <!--    Swiper CDN 
    -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>


    <!-- ____________________CDNs End___________________________________  -->
    <!-- ____________________Scripts Start_____________________________  -->


    <!--    preloader  
    -->
    <script src="js/preLoader.js"></script>



    <!--    JARALLAX SCRIPT 
    -->
    <script src="js/jarallax.js"></script>



    <!--    SMOOTH SCROLL JS
    -->
    <script src="js/smooth-scroll.js"></script>



    <!--    easeScroll to Element JS
    -->
    <script src="js/easeScroll-to-element.js"></script>



    <!--    SWIPER SCRIPT 
    -->
    <script src="js/swiper.js"></script>



    <!--    SCRIPT JS 
    -->
    <script src="js/script.js"></script>

</body>

</html>