*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font-family: ; */
    width: 100%;
}

.hkc01_container_imgWrap_tx {
    max-width: 1170px;
    margin: auto;
    padding: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hkc01_videoBox {
    max-width: 230px;
    height: max-content;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

.hkc01_videoBox video {
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
    max-height: 800px;
    aspect-ratio: 9/16;
    margin: 0!important;
    cursor: pointer;
}

.hkc01_play-btn_videoBox {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #71bba08b;
    color: white;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    pointer-events: none;
}


/* .play_script {
    display: none !important;
} */

.hkc01_play-btn_videoBox-i-play {
    font-size: 23px;
    color: white;
}


/* .pause_script {
    display: block !important;
} */

.hkc01_play-btn_videoBox-i-pause {
    font-size: 23px;
    color: white;
    /* display: none; */
}

.hide-toggle-icon {
    opacity: 0 !important;
    visibility: hidden !important;
    transition: 0.5s !important;
}