.back-to-top-script {
    opacity: 100 !important;
    visibility: visible !important;
    pointer-events: all !important;
}

.back-to-top {
    position: fixed;
    right: 30px;
    bottom: 50px;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: ease 0.7s;
}

.back-to-top a {
    padding: 14px 15px;
    border-radius: 4px;
    background-color: rgb(37, 37, 37);
    color: var(--wheat);
    font-size: 14px;
}